<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">

        <mat-toolbar color="primary">Login Page

          <div class="homeIcon">
            <button mat-mini-fab color="basic" (click)="goToHomePage('home')" >
              <mat-icon> home </mat-icon>
            </button>
          </div>

        </mat-toolbar>


        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">

            <mat-form-field>
              <input matInput placeholder="Username">
            </mat-form-field>

            <mat-form-field>              
                <input matInput type="password" placeholder="Password">
            </mat-form-field>

        <button mat-raised-button type="submit" class="LoginButton" (click)=loginNow()> Login </button>

        </form>
    </mat-card>
</div>