   <div>
      <img class="img2" src="./assets/c3/1.jpeg">
      <img class="img2" src="./assets/c3/3.jpeg">
      <img class="img2" src="./assets/c3/4.jpeg">
      <img class="img2" src="./assets/c3/5.jpeg">
      <img class="img2" src="./assets/c3/2.jpeg">
      <!-- <mat-card class="mat-card2"></mat-card> -->
  </div>

    <div class="X3Pro-details">
        <h2 class="text-yellow">POCO C3 &nbsp; &nbsp; (Blue, 64 GB) &nbsp; &nbsp; (4 GB RAM)</h2>
    </div>

    <br><br>
      
    <div class="float-container">
      <div class="float-child">
        <h2 class="spec">Specification</h2>
      <table class="table table-borderless">
      <!-- <thead>
        <tr>
           <th scope="col">General</th>
          <th scope="col"></th>
        </tr>
      </thead> -->
      <tbody>
        <tr>
          <th scope="row">In The Box</th>
          <td>Handset, Power Adaptor, USB Type-C Cable, SIM Ejector Tool, User Guide, Soft Case</td>
        </tr>
        <tr>
          <th scope="row">Model Name</th>
          <td>MZB09M5IN</td>
        </tr>
        <tr>
          <th scope="row">Color</th>
          <td>Graphite Black</td>
        </tr>
        <tr>
          <th scope="row">Browse Type</th>
          <td>Smartphones</td>
        </tr>
        <tr>
          <th scope="row">SIM Type</th>
          <td>Dual Sim</td>
        </tr>
        <tr>
          <th scope="row">Hybrid Sim Slot</th>
          <td>Yes</td>
        </tr>
        <tr>
          <th scope="row">Touchscreen</th>
          <td>Yes</td>
        </tr>
        <tr>
          <th scope="row">Quick Charging</th>
          <td>Yes</td>
        </tr>
      </tbody>
    </table>
      </div>

    <div class="FF float-child">
      <div>
        <h2 class="highlights">Highlights</h2>
          <ul>
            <li>6 GB RAM | 128 GB ROM | Expandable Upto 1 TB</li>
            <li>16.94 cm (6.67 inch) Full HD+ Display</li>
            <li>48MP + 8MP + 2MP + 2MP | 20MP Front Camera</li>
            <li>5160 mAh Lithium-ion Polymer Battery</li>
            <li>Qualcomm Snapdragon 860 Processor</li>
            <li>Multiple Hands-free Voice Assistants</li>
          </ul>
      </div>
    </div>

    <div class="float-child"> 

      <youtube-player 
        videoId="Xf0vC8nC1mc"
        suggestedQuality="highres" 
        [height]="300" 
        [width]="500" 
        [startSeconds]="0"
        [endSeconds]="50">
     </youtube-player>

    </div>

    </div>