<mat-card class="mat-header" >

    <div class="img">   
         <a routerLink="/home" routerLinkActive="active"><img src="assets\POCO-LOGO.png" width = "10%" router></a>
    </div>

    <section>
      
        <div class="login-button">
          <button mat-raised-button (click)="goToLoginPage('login')" color="basic" >Login</button>
        </div>

        <div class="register-button">
            <button mat-raised-button (click)="goToRegisterPage('register')" color="primary">Register</button>
        </div>

        <div class="allProduct-button">
          <button mat-raised-button (click)="goToAllProductPage('allProduct')" color="warn">All Phones</button>
        </div>

        <div class="cart-button">
          <button mat-raised-button (click)="goToCartPage('cart')" color="warn">Cart</button>
        </div>

      </section>

</mat-card>